<div class="list_sub">
  <ul class="list-group">
    <%= task.name %>
    <span class="label label-primary pull-right">
      <%= t "headers.status" %>
      <%= task.status %>
    </span>
  </ul>
</div>
