<ul class = "cousres">
    <li>
     <%= link_to course.name, [:supervisor, course] %>
     <span class="timestamp">
      created: <%= time_ago_in_words course.created_at %> ago.
     </span>
     <%= link_to "edit", edit_supervisor_course_path(course) %>
     <%= link_to "delete", [:supervisor, course], method: :delete,
                                       data: {confirm: "You sure?"} %>
    </li>
</ul>
