<ul class = "users">
  <li>
    <%= gravatar_for user, size: 50 %>
    <%= link_to user.name, [:supervisor, user] %>
    <%= link_to t(:label, label: "Edit"), edit_supervisor_user_path(user) %>
    <%= link_to t(:label, label: "Delete"), [:supervisor, user], method: :delete, 
	                                         data: {confirm: "Are you sure ?"} %>
  </li>
</ul>
