<% provide :title, @user.name %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
 <div class="col-md-8">
    <div class="panel panel-default">
     <%= render partial: "supervisor/courses/show", collection: @course, as: :course %>
    </div>
  </div>
</div>
